.panel-default .panel-heading {background-color:#4e83a2;color: inherit; color:white;}



input[type="date"] {
    width:100%;
    height:4%;
}
.panel-title {font-size:300%;}
.panel-body-title { background-color:#CCCCCC;}


.pull-left {
  float: left !important;
   /* border:4px solid #CCCCCC;
    background-color: #CCCCCC;
    padding-right: 92%;*/
}

.img-rounded {
    width : 25px;
    height: 25px;
    cursor: pointer;
}